extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  h1=box.name
    form(action=`/boxes/${box.id}/edit` method='get')
      input(type='hidden', name='boxId' value=boxId)
      if userId === box.userId
        button(type='submit' class="btn") Edit this recipe box
  h2 Recipes
  if recipes && recipes.length
    each recipe in recipes
      div
        a(href=`/recipes/${recipe.id}` style="margin-right:30px")=recipe.name
  else if userId === box.userId
    a(href=`/boxes/${boxId}/edit`) No recipes yet, get started here!
  form(action='/boxes' method='get')
    button(type='submit' class="cancel-btn") Back to boxes
