extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  h1=box.name
    form(action=`/boxes/${box.id}/edit` method='get')
      input(type='hidden', name='boxId' value=boxId)
      if userId === box.userId
        button(type='submit') Edit this recipe
  h2 Recipes
  if recipes && recipes.length
    ol
      each recipe in recipes
        li= recipe.name
  else
    a(href=`/boxes/${boxId}/edit`) No recipes yet, get started here!
  form(action='/boxes' method='get')
    button(type='submit') Back to boxes
