extends layout.pug

include utils.pug

block content
  link(rel='stylesheet' href='/stylesheets/recipe.css')
  script(src="/javascripts/recipe.js")
  script(src="/javascripts/like.js")
  script(src="/javascripts/review.js")
  script(src="/javascripts/cookstatus.js")
  .recipes__grid
    +validationErrorSummary(errors)
    .recipe__title.recipes
      h1(class="recipe-title")=recipe.name
        form(action=`/recipes/${recipe.id}/edit` method='get')
          input(type='hidden' name='recipeId' value=recipeId)
          if userId === recipe.userId
            button(type='submit' class='btn') Edit this recipe
      form.recipes__cookedStatus(action=`/status`, method='post')
        label(for='cookStatus') I...
        select.status__selector(name='cookStatus' id="cookStatus")
          option(value='Have Cooked') Have Cooked
          option(value='Will Cook') Will Cook
          option(value='Not Interested') Am Not Interested In
        span this recipe
        input(type='hidden' name='recipeId' id='recipeIdForStatus' value=recipeId)
        input(type='hidden' name='userId' id='userIdForStatus' value=userId)
        button.recipes__status_submit.btn(type='submit' class="btn") Update Status
    .recipe__ingredients.recipes
      h2 Ingredients
      if ingredients && ingredients.length
        each item in ingredients
          div
            span= item.measurements
            span= " "
            span= item.name
      else
        if userId === recipe.userId
          a(href=`/recipes/${recipe.id}/edit`) No ingredients yet, get started here!
    .recipe__instructions.recipes
      h2 Instructions
      if instructions && instructions.length
        ol
          each thing in instructions
            li.instructions__instruction= thing.specification
      else
        if userId === recipe.userId
          a(href=`/recipes/${recipe.id}/edit`) No instructions yet, get started here!
    if recipe.Pictures[0]
      div.recipe__pictures(style="background-image: url(../"+recipe.Pictures[0].src+")")
        each picture in recipe.Pictures
          .picture__container
            img.recipe__picture(src='../'+picture.src alt=picture.alt type="image" width="300" height="400" )
    .recipe__reviews
      if reviews.length
        each review in reviews
          .review__container
            .reviews
              +review(review.username, review.userid, review.review)
              if review.userId === userId
                div
                  form(action='/reviews/delete' method='post')
                    input(type='hidden' name='reviewId' value=review.id)
                    button(type='submit' class="reviews__delete button") Delete this review
                  form(action=`/reviews/${review.id}/edit` method='post')
                    input(type='hidden' name='reviewId' value=review.id id="reviewIdForReviewEdit")
                    input(type='hidden' name='userId' value=userId id="userIdForReviewEdit")
                    div 
                      button(id="reviews_edit_button" class="reviews__edit button") Edit Review
      else
        p No reviews yet! Click the 'Write a review' button to create yours!
    .recipe__writereview
      button.reviews__button(class="btn") Write a review
      #reviews__container.reviews__container-hidden
        form.reviews__form(method='post' action='/reviews')
          input(type='hidden' name='userId' value=userId)
          input(type='hidden' name='recipeId' value=recipeId)
          div
            textarea(name='review' id='review-content' placeholder='Write your review here...')
          div
            button.btn(type='submit' btn) Submit Review
  form(action='/recipes' method='get')
    button(type='submit' class="cancel-btn") Back to recipes
  form(action=`/recipes/${recipeId}/likes` method='post')
    input(type='hidden' id='recipeIdForLike' name='recipeId' value=recipeId)
    input(type='hidden' name='userId' value=userId)
    input(type='hidden' name='like' value=likes)
    button.btn(type='submit' class='recipe-like-btn') #{counter} NomNoms
