extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  h1=recipe.name
    form(action=`/delete` method='post')
      input(type='hidden' name='recipeId' value=recipeId)
      button(type='submit') Delete this recipe
  h2 Ingredients
  if ingredients
    each item in ingredients
      div
        span= item.measurements
        span= item.name
  else
    p No ingredients yet, get started below!
  form(action='/ingredients' method='post')
    input(type='hidden' name='recipeId' value=recipeId)
    +field('Ingredient Name: ', 'name', ingredient.name)
    div
      label(for='measurements') Measurements :
      input(type='text' name='measurements' value=ingredient.measurements)
    div
      button(type='submit' class='btn') Add Ingredient
      a(href='/recipes/#{recipeId}' class='btn') Cancel
  h2 Instructions
  if instructions && instructions.length
    ol
      each thing in instructions
        li= thing.specification
  else
    p No instructions yet, use the form to get started!
  form(action='/instructions' method='post')
    input(type='hidden' name='recipeId' value=recipeId)
    input(type='hidden' name='listOrder' value=listOrder)
    div
      label(for='specification') Instructions:
      textarea(name='specification' placeholder='Type your instruction here...')
    div
      button(type='submit' class='btn') Add Instruction
      a(href='/recipes/#{recipeId}' class='btn') Cancel
