extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  div(class="my-recipe-page")
    h1(class="recipe-title")=recipe.name
    h2 Ingredients
    div(class="ingredients_edit__div")
      if ingredients && ingredients.length
        each item in ingredients
          div
            span= item.measurements
            span= " "
            span= item.name
      else
        p No ingredients yet, get started below!
      div
        form(action='/ingredients' method='post')
          input(type='hidden' name='recipeId' value=recipeId)
          +field('Ingredient Name: ', 'name', ingredient.name)
          +field('Measurements: ', 'measurements', ingredient.measurements)
          div
            button(type='submit' class='btn') Add Ingredient
      //- having this button on each section feels redundant, reducing to 1 cancel button lower in page
      //- div
      //-   a(href=`/recipes/${recipeId}` class='cancel-btn') Cancel
    h2 Instructions
    div(class="instructions_edit__div")
      if instructions && instructions.length
        div(class='instructions_list__div')
          ol
            each thing in instructions
              li= thing.specification
        form(action=`/instructions/${recipeId}/delete` method='post')
          input(type='hidden' name='listOrder' value=instructions.length)
          input(type='hidden' name='recipeId' value=recipeId)
          if instructions.length
            button(type='submit' class='delete-instruction-btn btn') Delete Last Instruction
      else
        p No instructions yet, use the form to get started!
      div(class="instructions_edit_form__div")
        form(action='/instructions' method='post' class="add_instruction__form")
          input(type='hidden' name='recipeId' value=recipeId)
          input(type='hidden' name='listOrder' value=listOrder)

          label(for='specification') Next Instruction:
          div(class='instruction__add_textarea')
            textarea(name='specification' placeholder='Type your instruction here...' class="instruction_add__body")
        div
          button(type='submit' class='btn') Add Instruction
        //- div
        //-   a(href=`/recipes/${recipeId}` class='cancel-btn') Cancel

    h2 Picture
    if picture && picture.length
      each thing in picture

        img.recipe-picture(src=thing.src alt=thing.alt)
    else
      p No picture yet, get started below!
    if recipe.Pictures[0]
      div.recipe__pictures(style="background-image: url("+recipe.Pictures[0].src+")")
        each picture in recipe.Pictures
          .picture__container
            img.recipe__picture(src=picture.src alt=picture.alt type="image" width="300" height="400" )
    form(action='/picture' method='post')
      input(type='hidden' name='recipeId' value=recipeId)
      +field('Photo URL: ', 'src', 'Paste your photo URL here...')
      +field('Alt: ', 'alt', 'Paste your alternate text here...')
      div
        button(type='submit' class='btn') Add picture URL
      div
        a(href=`/recipes/${recipeId}` class='cancel-btn') Back to Recipe
    form(action='/recipes/my')
      button(type='submit' class='done btn') Done With Recipe
    div
      form(action=`/recipes/${recipeId}/delete` method='GET')
        input(type='hidden' name='recipeId' value=recipeId)
        button(type='submit' class="btn delete-recipe-btn") Delete this recipe
